body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol{
    line-height: 17px;
}
a{
    text-decoration: none;
}
.bold{
    font-weight: bold;
}
.opacity{
    color: darkgrey;
}
